body{
    display: flex;
    justify-content: center;
    
}

.calculator-container{
    border: solid #b8b894 2px;
    margin-top: 2rem;
    height: 40rem;
    width: 20rem;
    opacity: 1;
    background-color: #fff7e6;
    
}

.top-display{
   
    height: 12rem;
}

.calculator-buttons{
    border-top: solid #1f2e2e .5px;
    height: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'Roboto', sans-serif;
    
}

.button-level-1,
.button-level-2,
.button-level-3,
.button-level-4,
.button-level-5{
    display: flex;
    justify-content: space-evenly;
    
}

.sign,
.number{
    
    padding: 1rem;
    text-align: center;
    border-radius: 3rem;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    cursor: pointer;
    background-color: #eaeae1;
}

.sign:active{
    font-size: .8rem;
}

.number:active{
    font-size: .8rem;
}


.sign{
    color: #008000;
    font-weight: bolder;
}

.sign:hover{
    background-color: #3c5d5d;
    color: white;
}

.number:hover{
    background-color: #3c5d5d;
    color: white;
}

.top-display{
    text-align: right;
}
.result {
    font-size: 2rem;
    font-weight: 300;
    margin-left: 2rem;
    width: 80%;
}